[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
requests = "*"
beautifulsoup4 = "*"
uvicorn = "*"
sqlalchemy = "*"

[dev-packages]
flake8 = "*"
pytest = "*"

[requires]
python_version = "*"
